extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  h3 生成小程序码服务

  form
    div.form-group.row
      label(
        class='col-sm-2 col-form-label'
        for='mp-app-id'
      ) 小程序appid
      div.clo-sm-10.mx-sm-3
        input(
          type='text'
          class='form-control'
          id='mp-app-id'
          placeholder='请输入小程序appid'
        )

    div.form-group.row
      label(
        class='col-sm-2 col-form-label'
        for='mp-app-id'
      ) AppSecret
      div.clo-sm-10.mx-sm-3
        input(
          type='text'
          class='form-control'
          id='mp-app-id'
          placeholder='请输入小程序app secret'
        )    

    div.form-group.row
      label(
        class='col-sm-2 col-form-label'
        for='mp-app-id'
      ) 页面地址
      div.clo-sm-10.mx-sm-3
        input(
          type='text'
          class='form-control'
          id='mp-app-id'
          placeholder='请输入小程序码页面地址'
        )       
    
    <button type="submit" class="btn btn-primary">点击生成小程序码</button>

